{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_bottom %}
{% if add %}
<div class="submit-row">
  <input type="submit" value="{% trans 'Create Token' %}" class="default" name="_save">
  {% if is_popup %}
  <input type="button" value="{% trans 'Cancel' %}" style="order:2"
    onclick="window.parent.dismissRelatedObjectModal()">
  {% else %}
  <input type="button" value="{% trans 'Cancel' %}" style="order:2"
    onclick="window.location.href='{% url opts|admin_urlname:'changelist' %}'">
  {% endif %}
</div>
{% else %}
{{ block.super }}
{% endif %}
{% endblock %}
