{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/custom.css' %}">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script src="{% static 'admin/custom.js' %}" defer></script>
{% endblock %}

{% block footer %}
  {{ block.super }}

  {% if display_version_footer and server_version %}
    <div class="ophix-version-footer">
      {% if server_name %}{{ server_name }}-{% endif %}{{ server_version }}
    </div>
  {% endif %}

  {% if display_copyright %}
    <div class="ophix-copyright-footer">
      © {% now "Y" %} <a href="https://ophixproject.com" target="_blank" rel="noopener noreferrer">Ophix Project</a>
    </div>
  {% endif %}
{% endblock %}